@import "_bower";

@import "_variables";
@import "_typography";
@import "_navbar";
@import "_jumbotron";
@import "_cards";
@import "_footer";
@import "_buttons";
@import "_justgiving";

.wrapper {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}
