<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
    <ul>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% if site.twitter_username %}
        <li><a href="https://www.twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>
      {% endif %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>
<script src="{{ "/public/dist/main.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
