<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>

    <ul class="list-unstyled">
      <li><h4>Get in touch</h4></li>
      <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ site.email }}</a></li>
      {% if site.twitter_username %}
        <li><a href="https://www.twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i> @{{ site.twitter_username }}</a></li>
      {% endif %}
    </ul>
    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</footer>
<script src="{{ site.assets }}/dist/main.min.js" charset="utf-8"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6yaUWO2fu2FUQMqzcCC9UbIewgL3xq4c&callback=initMap">
</script>
