<div class="navbar-collapse collapse inverse" id="navbar-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 navigation">
        <h4>Navigation</h4>
        <ul class="list-unstyled menu">
          {% for link in site.data.links %}
            <li>
              <a href="{{ link.url | prepend: site.baseurl }}">{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 hidden-sm-down about">
        <h4>About</h4>
        <p class="text-muted">{{ site.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler pull-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-header">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-right hidden-md-down">
      {% for link in site.data.links %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/" class="navbar-brand"><img src="{{ site.assets }}/images/cancer-research.png" alt="Cancer Research Logo"> {{ site.title }}</a>
  </div>
</div>
