<div class="navbar-collapse collapse inverse" id="navbar-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 navigation">
        <h4>Navigation</h4>
        <ul class="list-unstyled menu">
          <li>
            <a href="{{ "/about" | prepend: site.baseurl }}">About</a>
          </li>
          <li>
            <a href="{{ "/friends" | prepend: site.baseurl }}">Friends</a>
          </li>
          <li>
            <a href="{{ "/" | prepend: site.baseurl }}">Blog</a>
          </li>
          <li>
            <a href="{{ "/route" | prepend: site.baseurl }}">Route</a>
          </li>
          <li>
            <a href="{{ "/kit-list" | prepend: site.baseurl }}">Kit List</a>
          </li>
          <li>
            <a href="{{ "/cancer-research-uk" | prepend: site.baseurl }}">CRUK</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 hidden-sm-down about">
        <h4>About</h4>
        <p class="text-muted">{{ site.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler pull-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-header">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-right hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/about" | prepend: site.baseurl }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/friends" | prepend: site.baseurl }}">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/route" | prepend: site.baseurl }}">Route</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/kit-list" | prepend: site.baseurl }}">Kit List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/cancer-research-uk" | prepend: site.baseurl }}">CRUK</a>
      </li>
    </ul>
    <a href="{{ site.baseurl }}/" class="navbar-brand"><img src="{{ site.assets }}/images/cancer-research.png" alt="Cancer Research Logo"> {{ site.title }}</a>
  </div>
</div>
