.card {
  float: left;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 0;

  img {
    margin-bottom: 0.75rem;
  }

  h2 {
    display: inline-block;
    span {
      font-size: 1rem;
      color: $grey;
    }
  }

  .thumbnail {
    position: relative;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 0 0.75rem 0;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);

      &.portrait {
        width: 100%;
        height: auto;
      }
    }
  }

}

.card-text {
  font-size: 85%;
}
