.card {
  float: left;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 0;

  img {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  h2 {
    display: inline-block;
    span {
      font-size: 1rem;
      color: $grey;
    }
  }
}

.card-text {
  font-size: 85%;
}
