.card {
  float: left;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 0;

  /*img {
    margin-bottom: 0.75rem;
    max-height: 300px;
  }*/

  h2 {
    display: inline-block;
    span {
      font-size: 1rem;
      color: $grey;
    }
  }

  .square {
    max-height: 300px;
    overflow: hidden;

    .landscape {
      height: 100%;
    }

    .portrait {
      width: 100%;
    }
  }
}

.card-text {
  font-size: 85%;
}
