@import "_bower";

@import "_variables";
@import "_typography";
@import "_navbar";
@import "_jumbotron";
@import "_cards";
@import "_footer";
@import "_buttons";
@import "_justgiving";
@import "_map";

.wrapper {
  min-height: 50rem;
  padding: 2rem 0;
  background-color: #f7f7f7;

  hr {
    margin: 2rem 0;
  }

  .module {
    margin: 0 0 2rem !important;
  }

  .friends {
    h4 {
      color: $magenta;
    }
  }

  .post {
    .image-container {
      text-align: center;
      background: white;
      padding: 1rem;
    }

    .landscape {
      max-width: 450px;
    }

    .portrait {
      max-height: 300px;
    }
  }
}
